@font-face {
  font-family: Taiga; /* Имя шрифта */
  src: url(fonts/Taiga.otf); /* Путь к файлу со шрифтом */
 }

@import url('https://fonts.googleapis.com/css?family=Raleway:500');

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  width: 80vw;
  margin: 0 auto;
}

.header {
  position: inherit;
  height: 823px;
  background: url("img/cover.png") no-repeat;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  /*padding-top: 500px;*/
  color: white;
  font-family: Taiga;
  font-size: 44px;
}

.cite {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: -5px;
  width: 100%;
  color: #1f98ad;
}

.fig {
  text-align: center;
}

.photo {
  object-fit: cover;
  margin-top: 170px;
  border-style: solid;
  border-width: 12px;
  border-color: rgba(255, 255, 255, 0.13);
  border-radius: 50%;
  background-color: rgba(215, 215, 215, 0.13);
}

.ulstyle {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.ulstyle li {
  text-decoration: none;
  display: inline-block;
}

.ulstyle li a {
  display: block;
  text-decoration: none;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  color: rgb(236, 240, 241);
  background-color: rgba(255, 255, 255, 0.051);
  border-width: 2px;
  border-color: rgb(190, 190, 190);
  border-style: solid;
  border-radius: 10px;
  line-height: 50px;
  text-align: center;
  width: 159px;
  margin: 10px;
}

/*.header a{
  text-decoration: none;
  vertical-align: middle;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  color: rgb(236, 240, 241);
  background-color: rgba(255, 255, 255, 0.051);
  border-width: 2px;
  border-color: rgb(190, 190, 190);
  border-style: solid;
  border-radius: 10px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  z-index: 13;
}

.header .hme {
  left: 37vh;
  top: 650px;
  width: 159px;
  height: 51px;
}

.header .fme {
  left: 56vh;
  top: 650px;
  width: 164px;
  height: 51px;
}*/
